:root {
    --primary-color: rgb(18,131,255);
    --secondary-color: rgb(7,119,240);
    --tertiary-color: rgb(1,43,89);
}

body {
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
    
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: transparent;
    min-height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.cans-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0; /* Убрали отступ снизу */
}

.invite-button {
    background-color: #60C8C1; /* цвет egg */
    color: #ffffff;
    border: none;
    border-radius: 30px; /* radius */
    font-size: 18px; /* примерный размер для L */
    cursor: pointer;
    width: 330px; /* Fixed width */
    max-width: 330px; /* Max width */
    min-height: 50px; /* Min height */
    padding: 14px 12px; /* Top/Bottom 14px, Left/Right 12px */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Gap между элементами внутри кнопки */
    margin: 0 auto; /* для центрирования кнопки */
}
.invite-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Расстояние между кнопками */
    margin: 15px 0; /* Добавляем отступ сверху и снизу от контейнера */
}


.friends-list {
    width: 100%;
    max-width: 400px;
}
.friend-reward-button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.friend-reward-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.friend-item {
    background-color: #3F7A88;
    border-radius: 30px; /* Обновили радиус */
    padding: 10px 16px; /* Обновили паддинги согласно макету */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 327px; /* Фиксированная ширина */
    height: 60px; /* Высота согласно макету */
    box-sizing: border-box;
    gap: 52px;
}

.friend-name {
    color: #fff;
    font-size: 16px;
}

.friend-xp {
    color: #FFD700;
    font-size: 14px;
}
.friends-invite-block {
    background-color: #0000000F;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    box-sizing: border-box;
}
.friends-invite-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.friends-invite-text {
    flex-grow: 1;
}
.friends-invite-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.friends-invite-description {
    color: #ffffff;
    font-size: 14px;
    margin: 5px 0 0 0;
}
.friends-invite-reward {
    display: flex;
    align-items: center;
}
.friends-invite-reward-amount {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.friends-invite-reward-icon {
    width: 20px;
    height: 20px;
}
